<header>
  <div class="navbar-logged-out">
 <%= link_to root_path do %>
      <%= image_tag('logo-simple.png', class: "logo") %>
    <% end %>
 <div id="login">
  <div id="button">
      <%= link_to 'add plant', new_plant_path, class: "button-green" %>
      <%= link_to 'login', new_user_session_path, class: "button-blue" %>
      <%= link_to 'logout', destroy_user_session_path, :method => :delete, class: "button-pink" %>
    </div>
 </div>
</header>
