<header>
  <div class="navbar-logged-in">
    <%= link_to root_path do %>
      <%= image_tag('logo-simple.png', class: "logo") %>
    <% end %>
   <div id="navbar-end">
    <div id="button">
      <%= link_to 'dashboard', profile_path, class: "button-yellow" %>
      <%= link_to 'add plant', new_plant_path, class: "button-green" %>
      <%= link_to 'logout', destroy_user_session_path, :method => :delete, class: "button-pink" %>
    </div>
    <div class="avatar" style="background-image: url('<%= cl_image_path current_user.photo.key %>')">
   </div>
  </div>
</header>
