<div class="beige-bg w-100 my-3 py-5">
  <div class="container pb-3">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2> <%= @plants.any? ? "Plants" : "" %> </h2>
        <div class="mt-5 d-flex flex-row justify-content-between flex-wrap">
          <% @plants.each do |plant| %>
            <%= link_to plant_path(plant), class: "text-decoration-none" do %>

              <div class="card-plant mb-5">
                <div class="img" style="background-image: url('<%= cl_image_path plant.photo.key %>')"></div>
                <div class="card-plant-footer">
                  <div>
                    <h3><%= plant.common_name %></h3>
                    <p><%= plant.scientific_name %></p>
                  </div>
                  <h4>$<%= plant.price %></h4>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

